# Strings Data Types and Exercises

#### String Formatting

In [1]:
name = 'World'
str1 = 'Hello, %s!' % name
print('Hello, %s!' % name)
str2 = 'Hello, {}!'.format(name)
print('Hello, %s!' % name)
str3 = f'Hello {name}!'
print('Hello, %s!' % name)

Hello, World!
Hello, World!
Hello, World!

#### [String Methods](https://www.w3schools.com/python/python_ref_string.asp)

#### [List Methods](https://www.w3schools.com/python/python_ref_list.asp)

1. Create a Python script file named data_types_and_variables.py or data_types_and_variables.ipynb.

    Identify the data type of the following values:

In [ ]:
99.9 #float

"False" #string

False #boolean

'0' #string

0 #int

True #boolean

'True' #string

[{}] #list with dict

{'a': []} #dict with string key and list value

2. What data type would best represent the following?

    - A term or phrase typed into a search box
        - **string**
    - Whether or not a user is logged in
        - **boolean**
    - A discount amount to apply to a user's shopping cart
        - **float/int**
    - Whether or not a coupon code is valid
        - **boolean**
    - An email address typed into a registration form
        - **string**
    - The price of a product
        - **float**
    - The email addresses collected from a registration form
        - **list**
    - Information about applicants to Codeup's data science program
        - **dict**

3. For each of the following code blocks:

    - Read the expression and predict the evaluated results
    - Execute the expression in a Python REPL.

In [2]:
'1' + 2 # error

TypeError: can only concatenate str (not "int") to str

In [3]:
6 % 4 # 2

2

In [4]:
type(6 % 4) # int

int

In [5]:
type(type(6 % 4)) #int

type

In [6]:
'3 + 4 is ' + 3 + 4 # error

TypeError: can only concatenate str (not "int") to str

In [7]:
0 < 0 # False

False

In [8]:
'False' == False # False

False

In [9]:
True == 'True' # False

False

In [10]:
5 >= -5 # True

True

In [11]:
True or "42" # True

True

In [12]:
6 % 5 # 1

1

In [13]:
5 < 4 and 1 == 1 # False

False

In [14]:
'codeup' == 'codeup' and 'codeup' == 'Codeup' # False

False

In [16]:
4 >= 0 and 1 != '1'# True

True

In [17]:
6 % 3 == 0 # True

True

In [27]:
5 % 2 != 0 # True

True

In [25]:
[1] + 2 # error

TypeError: can only concatenate list (not "int") to list

In [24]:
[1] + [2] # [1, 2]

[1, 2]

In [23]:
[1] * 2 # [1, 1]

[1, 1]

In [22]:
[1] * [2] # error

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
[] + [] == [] # True

True

In [20]:
{} + {} # {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. Describe the following scenarios. You will need to create and assign variables and use operators.

5. You have rented some movies for your kids:

    - The Little Mermaid for 3 days
    - Brother Bear for 5 days
    - Hercules for 1 day
    - If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [3]:
little_mermaid = 3
brother_bear = 5
hercules = 1
daily_fee = 3
total_fee = daily_fee * (little_mermaid + brother_bear + hercules)
total_fee

27

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

    They pay you the following hourly rates:

    - Google: 400 dollars
    - Amazon: 380 dollars
    - Facebook: 350 dollars
    
    This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

    How much will you receive in payment for this week?

In [8]:
Goo_rate = 400
Ama_rate = 380
FB_rate = 350
Goo_hrs = 6
Ama_hrs = 4
FB_hrs = 10
pay_received = ((Goo_rate * Goo_hrs) 
                + (Ama_rate * Ama_hrs)
                + (FB_rate * FB_hrs))
pay_received #7420

7420

7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [ ]:
is_class_full = True

# not sure how I'd check if the class schedules conflivt yet

8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [26]:
items_bought = 0
expired = True
premium_member = True
offer_applied = (items_bought > 2 and not expired) or (premium_member)
offer_applied

True

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:

    Create a variable that holds a boolean value for each of the following conditions:

    - The password must be at least 5 characters
    - The username must be no more than 20 characters
    - The password must not be the same as the username
    - **Bonus** Neither the username or password can start or end with whitespace

In [23]:
username = 'codeup'
password = 'notastrongpassword'

In [24]:
# function for bonus
def st_or_en_whitespace(word):
    return (not word[0].isspace() and not word[-1].isspace())

# len >= 5 and not username and bonus
is_valid_pwd = ( (len(password) >= 5) and (password != username)
                   and st_or_en_whitespace(password))

# len <= 20 and bonus
is_valid_user = (len(username) <= 20) and st_or_en_whitespace(username)

# print results
print(is_valid_pwd)
print(is_valid_user)

# # using last two rows to test single conditional statements
# print(password != username)
# print(not username[0].isspace())

True
True