### 1. Conditional Basics

- Prompt the user for a day of the week, print out whether the day is Monday or not
- Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [3]:
day_of_week = input("Day of the week: ")

if day_of_week.lower() == "monday":
    print("Day is Monday")
elif day_of_week.lower() in ['saturday', 'sunday']:
    print("Day is Weekend")
else:
    print("Day is Weekday")

Day of the week: Friday
Day is Weekday

- Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

    - The number of hours worked in one week
    - The hourly rate

    For calculating pay:

    - For working 40 hours or less, each hour is paid at the hourly rate
    - For working more than 40 hours

        - the first 40 hours are paid at the hourly rate

        - each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [4]:
hours_worked = 40
hourly_rate = 15

# Calculate the pay
if hours_worked <= 40:
    pay = hours_worked * hourly_rate
else:
    regular_pay = 40 * hourly_rate
    overtime_pay = (hours_worked - 40) * hourly_rate * 1.5
    pay = regular_pay + overtime_pay

print(pay)

600

### 2. Loop Basics

- **While**

  - Create an integer variable `i` with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.
    
    Your output should look like this:

```
    5
    6
    7
    8
    9
    10
    11
    12
    13
    14
    15
```

In [5]:
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

 - Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.
    - Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal:

```
 2
 4
 16
 256
 65536
```

In [6]:
x = 2
while x < 1_000_000:
    print(x)
    x = x ** 2

2
4
16
256
65536

- Write a while loop that uses print to create the output shown below.


```
100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
```

In [7]:
y = 100
while y > 0:
    print(y)
    y -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

- **For Loops**

    - Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

        For example, if the user enters 7, your program should output:

```
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
```

In [8]:
a = input("Input number: ")
for n in range(10):
    print(str(a) + " x " + str(n + 1) + " = " + str((n + 1) * int(a)))

Input number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

- Create a for loop that uses print to create the output shown below.

```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [9]:
for i in range(1, 10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

- **`break` and `continue`**

a. Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [10]:
# prompt the user for a positive integer
x = int(input("Enter positive integer: "))
while x >= 1:
    print(x)
    x -= 1

Enter positive integer: 2
2
1

b. The `input` function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the `input` function returns a string, so you'll need to convert this to a numeric type.)

In [11]:
y = int(input("Enter positive integer: "))
for i in range(y + 1):
    print(i)

Enter positive integer: 5
0
1
2
3
4
5

c. Prompt the user for an odd number between 1 and 50. Use a loop and a `break` statement to continue prompting the user if they enter invalid input. (Hint: use the `isdigit` method on strings to determine this). Use a loop and the `continue` statement to output all the odd numbers between 1 and 50, except for the number the user entered.

    Your output should look like this:

    ```Number to skip is: 27

    Here is an odd number: 1
    Here is an odd number: 3
    Here is an odd number: 5
    Here is an odd number: 7
    Here is an odd number: 9
    Here is an odd number: 11
    Here is an odd number: 13
    Here is an odd number: 15
    Here is an odd number: 17
    Here is an odd number: 19
    Here is an odd number: 21
    Here is an odd number: 23
    Here is an odd number: 25
    Yikes! Skipping number: 27
    Here is an odd number: 29
    Here is an odd number: 31
    Here is an odd number: 33
    Here is an odd number: 35
    Here is an odd number: 37
    Here is an odd number: 39
    Here is an odd number: 41
    Here is an odd number: 43
    Here is an odd number: 45
    Here is an odd number: 47
    Here is an odd number: 49
    ```

In [12]:
z = input("Enter an odd number between 1 and 50: ")
# print(z.isdigit())
# print(int(z) % 2 == 1)

# while not a digit or while even int
while not z.isdigit() or int(z) % 2 == 0 or not (1 < int(z) < 50):
    z = input("Enter an odd number between 1 and 50: ")
print(f"Number to skip is {z}")
for i in range(50):
    if i == int(z):
        print(f"Yikes! Skipping number: {i}")
    elif i % 2 == 1:
        print(f"Here is an odd number: {i}")

Enter an odd number between 1 and 50: 24
Enter an odd number between 1 and 50: 1000
Enter an odd number between 1 and 50: -10
Enter an odd number between 1 and 50: 13
Number to skip is 13
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Yikes! Skipping number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Here is an odd number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

3. Fizzbuzz

    One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

- Write a program that prints the numbers from 1 to 100.
- For multiples of three print "Fizz" instead of the number
- For the multiples of five print "Buzz".
- For numbers which are multiples of both three and five print "FizzBuzz".

In [14]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

4. Display a table of powers.

- Prompt the user to enter an integer
- Display a table of squares and cubes from 1 to the value entered
- Ask if the user wants to continue
- Assume that the user will enter valid data
- Only continue if the user agrees to

    Example Output

    ```
    What number would you like to go up to? 5

    Here is your table!

    number | squared | cubed
    ------ | ------- | -----
    1      | 1       | 1
    2      | 4       | 8
    3      | 9       | 27
    4      | 16      | 64
    5      | 25      | 125
    ```

In [15]:
while True:
    # Prompt user to enter an integer
    num = int(input("What number would you like to go up to? "))

    # Display a table of squares and cubes from 1 to the num
    print("\nHere is your table!\n")
    print("number | squared | cubed")
    print("------ | ------- | -----")
    for i in range(1, num+1):
        print(f"{i:<6} | {i**2:<7} | {i**3:<5}")

    # Ask if the user wants to continue
    cont = input("Do you want to continue? (y/n) ")
    
    # continue if  user agrees to
    if cont.lower() != 'y':
        break

What number would you like to go up to? 25

Here is your table!

number | squared | cubed
------ | ------- | -----
1      | 1       | 1
2      | 4       | 8
3      | 9       | 27
4      | 16      | 64
5      | 25      | 125
6      | 36      | 216
7      | 49      | 343
8      | 64      | 512
9      | 81      | 729
10     | 100     | 1000
11     | 121     | 1331
12     | 144     | 1728
13     | 169     | 2197
14     | 196     | 2744
15     | 225     | 3375
16     | 256     | 4096
17     | 289     | 4913
18     | 324     | 5832
19     | 361     | 6859
20     | 400     | 8000
21     | 441     | 9261
22     | 484     | 10648
23     | 529     | 12167
24     | 576     | 13824
25     | 625     | 15625
Do you want to continue? (y/n) y
What number would you like to go up to? 3

Here is your table!

number | squared | cubed
------ | ------- | -----
1      | 1       | 1
2      | 4       | 8
3      | 9       | 27
Do you want to continue? (y/n) n

5. Convert given number grades into letter grades.

- Prompt the user for a numerical grade from 0 to 100
- Display the corresponding letter grade
- Prompt the user to continue
- Assume that the user will enter valid integers for the grades
- The application should only continue if the user agrees to
- Grade Ranges:
    - A : 100 - 88
    - B : 87 - 80
    - C : 79 - 67
    - D : 66 - 60
    - F : 59 - 0

In [16]:
while True:

# Prompt the user for a numerical grade from 0 to 100
    grade = int(input("Enter grade: "))

    # Display the corresponding letter grade
    if grade >= 88:
        letter_grade = 'A'
    elif grade >= 80:
        letter_grade = 'B'
    elif grade >= 67:
        letter_grade = 'C'
    elif grade >= 60:
        letter_grade = 'D'
    else:
        letter_grade = 'F'

    print(letter_grade)

    # Prompt the user to continue
    cont = input("Do you want to continue? (y/n) ")

    # Continue if  user agrees to
    if cont.lower() != 'y':
        break

Enter grade: 50
F
Do you want to continue? (y/n) n

6. Create a list of dictionaries where each dictionary represents a book that you have read. Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.

    a. Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [18]:
# list of dictionaries of books
books = [{'title': 'It', 'author': 'Stephen King',
          'genre': 'Horror'},
         {'title': 'The Cuckoo\'s Calling', 'author': 'J.K. Rowling',
          'genre': 'Crime Fiction'},
         {'title': 'Carrie', 'author': 'Stephen King',
          'genre': 'Horror'}]

# Loop through the list and print out information about each book.
for book in books:
   (print(book['title'] + ", " + book['author']
          + ", " + book['genre']))

# Prompt user to enter genre
genre = input("Genre: ")

# print books if they match genre
for book in books:
    if genre == book['genre'].lower():
        (print(book['title']))

It, Stephen King, Horror
The Cuckoo's Calling, J.K. Rowling, Crime Fiction
Carrie, Stephen King, Horror
Genre: horror
It
Carrie

- **BONUS Exercises**

For your Power of Tables exercise, research python's format string specifiers to align the table

- '<width': left align text within a field of width characters
- '>width': right align text within a field of width characters
- '^width': center align text within a field of width characters


For your Number Grade to Letter Grade exercise, edit your grade ranges to include pluses and minuses (ex: 99-100 = A+)

For practicing with list comprehensions, work through [17 List Comprehension Exercises](https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a)

In [35]:
# 17 list comprehension problems in python

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())
    
# Exercise 1 - rewrite the above example code using list comprehension syntax. 
# Make a variable named uppercased_fruits to hold the output of the list comprehension.
# Output should be ['MANGO', 'KIWI', etc...]
uppercased_fruits = [fruit.upper() for fruit in fruits]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [36]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension
# syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]
capitalized_fruits = [fruit.capitalize() for fruit in fruits]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [47]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels.
# Hint: You'll need a way to check if something is a vowel.
vowel = 'aeiouAEIOU'
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if
                                     sum(fruit.count(vowel) for vowel in 'aeiouAEIOU') >= 2]
fruits_with_more_than_two_vowels

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [48]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels.
# The result should be ['mango', 'kiwi', 'strawberry']
fruits_with_only_two_vowels = [fruit for fruit in fruits if
                                     sum(fruit.count(vowel) for vowel in 'aeiouAEIOU') == 2]
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [49]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters
[fruit for fruit in fruits if len(fruit) > 5]

['strawberry', 'pineapple', 'mandarin orange']

In [50]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters
[fruit for fruit in fruits if len(fruit) == 5]

['mango', 'guava']

In [51]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters
[fruit for fruit in fruits if len(fruit) < 5]

['kiwi']

In [52]:
# Exercise 8 - Make a list containing the number of characters in each fruit.
# Output would be [5, 4, 10, etc... ]

[len(fruit) for fruit in fruits]

[5, 4, 10, 5, 9, 15]

In [53]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains
# a list of only the fruits that contain the letter "a"
fruits_with_letter_a = [fruit for fruit in fruits if fruit.find('a')]
fruits_with_letter_a

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [ ]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers

In [ ]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

In [ ]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

In [ ]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

In [ ]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce
# a list of numbers with 2 or more numerals

In [ ]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers
# list with each element squared. Output is [4, 9, 16, etc...]

In [ ]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers
# list with each element squared. Output is [4, 9, 16, etc...]

In [ ]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only 
# the numbers that are both odd and negative.

In [ ]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list
# containing each number plus five.

In [ ]:
# BONUS Make a variable named "primes" that is a list containing the prime numbers 
# in the numbers list. *Hint* you may want to make or find a helper function
# that determines if a given number is prime or not.

For even more practice with all your Python tools together, work through [20 Python Data Structure Manipulation Exercises](https://gist.github.com/zgulde/2043cba6072fe5b55b272513ae575577)

The following questions reference the `students` data structure below. Write the python code to answer the following questions:

In [ ]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [ ]:
# How many students are there?


# How many students prefer light coffee? For each type of coffee roast?


# How many types of each pet are there?


# How many grades does each student have? Do they all have the same number of grades?


# What is each student's grade average?


# How many pets does each student have?


# How many students are in web development? data science?


# What is the average number of pets for students in web development?


# What is the average pet age for students in data science?


# What is most frequent coffee preference for data science students?


# What is the least frequent coffee preference for web development students?


# What is the average grade for students with at least 2 pets?


# How many students have 3 pets?


# What is the average grade for students with 0 pets?


# What is the average grade for web development students? data science students?


# What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?


# What is the average number of pets for medium coffee drinkers?


# What is the most common type of pet for web development students?


# What is the average name length?


# What is the highest pet age for light coffee drinkers?